/build/
/.cache/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/wallpapers/*/contents/imports/
__pycache__/
*.pyc
*.so
wallpapers/*.mp4
wallpapers/logs.txt
*.user
*.dev.md
*.todo.md
/smoke-tests/*.png
/references/
/md-fixes/
/AGENTS.md
